@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}


.starbucks-brand {
  font-size: 24px !important;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

.starbucks-brand img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.welcome-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.welcome-description-container h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 4em;
}

.welcome-description-container .tagline {
  margin: 30px 0;
}

.orange-header {
  color: #D97819;
}

.main-button {
  background-color: #006242;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
}

.main-image-container img {
  max-width: 100%;
  height: auto;
  transform: scale(1.15);
}

.starbucks-properties-container {
  margin: 20px 0;
}

.properties-main-image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.properties-second-image-container {
  height: 200px;
  padding: 10px 0;
}

.properties-second-image-container div div {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}